.section-functional {
    padding-top: 80px;
    padding-bottom: 80px;

    @media (max-width: 1199px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    @media (max-width: 599px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.section-functional__header {
    margin-bottom: 70px;
    text-align: center;

    @media (max-width: 1199px) {
        margin-bottom: 60px;
    }

    @media (max-width: 899px) {
        margin-bottom: 40px;
    }
}

.section-functional__title {
    margin-bottom: 40px;

    @media (max-width: 1199px) {
        margin-bottom: 30px;
    }

    @media (max-width: 899px) {
        margin-bottom: 20px;
    }

    @media (max-width: 599px) {
        margin-bottom: 10px;
    }
}

.section-functional__row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;

    @media (max-width: 899px) {
        flex-wrap: wrap;
        row-gap: 30px;
    }

    @media (max-width: 599px) {
        row-gap: 40px;
    }
}

.section-functional__row > * {
    margin-left: 15px;
    margin-right: 15px;
    flex-shrink: 0;
}


